  <p>Comedians</p>

  <div class="stats">
    Total Specials: <%= @specials.count %>
    Average Age: <%= @comedians.average_age %>
    Cities: <%= @comedians.pluck(:city).uniq %>
    <!-- Do these operations belong here?  -->
  </div>

  <div class="comedian">
    <% @comedians.each do |comedian| %>
      <li>Name: <%= comedian.name %></li>
      <li>Age: <%= comedian.age %></li>
      <li>City: <%= comedian.city %></li>
      <li>Total Specials: <%=comedian.specials.count%> </li>
      <br>
        <% comedian.specials.each do |special| %>
          <li> <%= special.name %>
        <% end %>
      <% end %>
  </div>
